<!-- app/views/home/index.html.erb -->

<div class="container">
  <h1 class="page-header">Give Ryan Your Playlists Demo</h1>
  <p>This app uses the <a href="https://developer.spotify.com/web-api/">Spotify Web API</a> to give me your music, so it's safe. However, after I know your music tastes, I will dominate the world.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
      <p>so you can give him all your playlists!</p>
    </div>
  </div>
</div>
